<li>
  <b><%= comment.commenter.full_name %>:</b> <%= comment.content %>
  <% if owner?(comment.commenter) %>
  | <%= link_to 'Edit', edit_comment_path(comment) %>
  | <%= link_to('Destory', comment, data: {confirm:'Are you sure?'},  method: :delete) %>
  <% end %>
</li>
