<li class="comment-or-post">
  <div class="content">
    <b><%= comment.commenter.full_name %>:</b> <%= comment.content %>
  </div>
  <div class="actions">
    <% if owner?(comment.commenter) %>
      <%= render partial: 'shared/actions', locals: { object: comment, object_link: edit_comment_path(comment) } %>
    <% end %>
  </div>
</li>
