<li class="comment-or-post">
  <%= link_to post, class: "content" do %>
  <div>
    <b><%= post.author.full_name %>:</b>
  </div>
  <div>
    <%= truncate(post.content, length: 150) %>
  </div>
  <% end %>

  <div class="owner-options">
    <% if owner?(post.author) %>
      <%= render partial: 'shared/actions', locals: { object: post, object_link: edit_post_path(post) } %>
    <% end %>
  </div>

</li>