/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.friend-row{
  display: flex;
  margin: 5px;
  .name{
    margin-right: 50px;
  }
  form {
    margin-right: 10px;
  }
}

.comment-or-post {
  .content {
    text-decoration: none;
    color: black;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  &:last-child {
    border-bottom: none;
  }
  .stats{
    color: teal;
    display: flex;
    *{
      &:first-child {
        padding-right: 2px;
      }
      padding-right: 10px;
    }
  }
}

.pt {
  padding-top: 10px;
}

